<h6 class="mt-3">Kinedu API</h6>
<p>Se desarrola un APP que consume la data de la API propuesta en esta entrevista, se utiliza Ruby on Rails 5.2, las actividades realizadas son las siguientes:</p>

<div class="table_responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th width="270">Petición</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="montserrat darkgray">GET host/welcome </span></td>
        <td>Pantalla de bienvenida, se utilizaron partials para tener separada la información</td>
      </tr>
      <tr>
        <td><span class="montserrat darkgray">GET host/activity_logs </span></td>
        <td>Se diseña el panel que muestra el log de actividades, esta sección hace una petición hacia la API <span class="montserrat">GET api/activity_logs</span> y permite filtrar su información</td>
      </tr>
    </tbody>
  </table>
</div>

<blockquote>
  <p>Para desarrollar cada una de estas peticiones se utilizan diferentes tecnicas:</p>
  <ul>
    <li>Se utiliza bootstrap 4 para dar estilo a la pagina</li>
    <li>Se anexan algunos estilos personalizados utilizando scss</li>
    <li>Para realizar las peticions a la API, se crea un archivo <span class="montserrat"> lib/kinedu_api.rb</span></li>
    <li>Se realizan los ajustes necesarios para poder realizar los filtros y las peticiones de forma adecuada <span class="montserrat">controllers/activity_logs_controller.rb</span></li>
    <li>Se crean algunos helpers que ayudan a transformar al formato adecuado, la data recibida de la API <span class="montserrat">helpers/activity_logs_helper.rb</span></li>
  </ul>
</blockquote>