/*
  Estilos generales
*/

$primary-color: #1B75BB;
$secondary-color: #81C16A;
$terteary-color: #F78E21;


.bg-custom{ background: $primary-color; }
.logo{ width: 112px; }
.darkgray{ color: darkgray }
.montserrat{ 
  font-family: 'Montserrat', sans-serif; 
  font-weight: 300;
}

thead > tr > th {
  background: #81c16a;
  color: white;
  padding: 15px 10px !important;
  border-top: 1px solid #81c16a;
  border-bottom: 1px solid #81c16a;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.custom-buttom{
  background: $secondary-color;
  text-align: center;
  border: 1px solid $secondary-color;
  color: white;
  font-weight: 300;
  padding: 7px 0;
  border-radius: 15px;
  &:hover {
    background: $terteary-color;
    border: 1px solid $terteary-color;
  }
}